.SUBSCRIBE {
    height: 40px;
    width: 110px;
    background-color: rgb(179, 0, 0);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 9px;
}
.SUBSCRIBE:hover{
    opacity: 0.7;
}
.SUBSCRIBE:active{
    opacity: 0.5;
}
.JOIN {
    background-color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: rgb(11, 99, 250);
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    margin-right: 9px;
    transition: background-color 0.15s, color 0.15s
    padding-top 1s, 
    padding-bottom 1s,
    padding-left 1s,
    padding-right 1s;

}
.JOIN:hover{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.JOIN:active{
    opacity: 0.5;
}
.Tweet{
    height: 36px;
    width: 74px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(6, 168, 250);
    cursor: pointer;
    transition: box-shadow 0.15s;
}
.Tweet:hover{
    box-shadow: 3px 3px 9px rgba(0,0,0,0.17);
}
.Tweet:active{
    opacity: 0.5;
}
